<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/101-hbnb.js?{{ cache_id }}"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css?{{ cache_id }}" />
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css?{{ cache_id }}" />
  </head>
  <body>
    <header>
        <div id="api_status" class="available"></div>
    </header>
    <section class="places"></section>
    <button id="filter_button">Filter by Amenity</button>
    <div id="locations"></div>
    <h2>Reviews <span id="toggle_reviews">show</span></h2>
    <div id="reviews"></div>
  </body>
</html>
